@media screen {
    #printSection {
        display: none;
    }
}

@media print {
    /* 20161031RBP - only want children invisible, not all descendants */
    body > * {
        display:none !important;
    }

    /* 20161031RBP - changed to display block */
    #printSection {
        display: block !important;
    }

    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
}
